body, nav {
    /*background-image: url("../images/background.png");*/
    background: rgb(249,247,243);
}

nav, .btn {
    box-shadow: none;
}

.click, h1, h5, span {
    font-family: 'Prata', serif;
}

.click, h1 {
    color: rgb(236,123,37);
}

#download-button {
    background-color: rgb(236,123,37);
}

nav ul a, h5, span {
    color: rgb(50,79,87);
}
#logo1 {
	width: 200px;
	height: 200px;
}



