body, nav, .collapsible-header {
    /*background-image: url("../images/background.png");*/
    background-color: rgb(171,182,187);
}

a {
	color: rgb(236,123,37);
}

.collapsible-header, .collapsible-header > i {
	color: rgb(50,79,87);
}

h5, h3, span {
    font-family: 'Prata', serif;
    color: rgb(249, 247, 243);
}

h3 {
	color: rgb(50,79,87);
}

h5 {
	font-size: 200%;
}

a h5 {
	color: rgb(236,123,37);
    font-size: 180%;
}

.btn, .btn-floating {
    background-color: rgb(50,79,87);
}

.btn:hover, .btn-floating:hover {
    background-color: rgb(171,182,187);
}

input[type=text] {
	border-bottom: 1px solid rgb(50,79,87);
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid rgb(50,79,87);
    box-shadow: 0 1px 0 0 rgb(50,79,87);
}

footer.page-footer {
	background-color: rgb(50,79,87);
}

.card.medium {
	background-color: rgb(249,247,243);
}

.party-time {
	display: none;
}

.party-time img {
    height: 28px;
    width: 28px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

modal-content, .back-arrow, #title-text, #previewYes, #previewNo, #buy-links {
	color: rgb(50,79,87);
}

modal-content {
	background-color: rgb(249,247,243);
}