/*Landing page*/

#container1 {
    position: relative;
    padding-top: 50px;
}

#left-bracket,
#right-bracket {
    font-size: 350px;
    position: absolute;
}

#left-bracket {
    left: 100px;
}

#right-bracket {
    right: 100px;
}


/*Search page*/

.textCenter {
    text-align: center;
}

h5 {
    display: inline-block;
    vertical-align: super
}

.left-bracket {
    font-size: 50px;
    left: 100px;
}

.right-bracket {
    font-size: 50px;
    right: 100px;
}

.param-block {
    margin-top: 40px;
    text-align: center;
}

.param-btn {
    margin: 5px;
}

.submit-param {
    margin-top: 25px;
}

.brackets {
    display: inline-block;
    position: relative;
}

#author {
    left: 80px;
    position: relative;
}

#apiData {
    opacity: 0;
}

.results-body {
    height: 1015px;
}

.card .card-title {
  font-size: 1em;
}

/*Collapsable Search Element*/

.collapsible,
.collapsible-header,
.collapsible-body {
    border: none;
    box-shadow: none;
}

#results-collapse {
    border-top: 1px solid #ddd;
    opacity: 0;
}

#search-collapse {
    opacity: 0;
}

/*Sign-In Page*/
#logOn {
    background-color: #26a69a;
    color: white;
}


/*About Us page*/

.about-us {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: left;
}

figcaption a {
    border-bottom: 1px dashed;
}

#pew-data {
    margin-top: 50px;
}

.connect {
    margin: 1em 0;
}

/*Modal*/
.modal-btn {
    /*background-color: transparent;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    border: none;
    color: #039be5;
    cursor: pointer;*/
/*    position: relative;
    top: -10px;
    left: -30px;*/
}
.modal-btn:focus {
   /* outline: none;
    background-color: transparent;*/
}



/*Sticky Footer*/

body {
    display: flex;
    max-height: 50vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
