span {
  font-size: 350px;
}

#container1 {
  position: relative;
  padding-top: 50px;
}

#left-bracket {
  position: absolute;
  left: 100px;
  top: -20px;
}

#right-bracket {
  position: absolute;
  right: 100px;
  top: -20px;
}


.mood-btn {
	margin: 5px;
}

.mood-block {
	text-align: center;
}

.brackets {
	position: relative;
	display: inline-block;
}

.left-bracket {
  font-size: 50px;
  left: 100px;
  
}

.right-bracket {
  font-size: 50px;
  right: 100px;
}

.textCenter {
	text-align: center;
}

h5 {
	display: inline-block;
	vertical-align: super;
}

