/*Landing page*/
span {
  font-size: 350px;
}

#container1 {
  position: relative;
  padding-top: 50px;
}

#left-bracket {
  position: absolute;
  left: 100px;
  top: -20px;
}

#right-bracket {
  position: absolute;
  right: 100px;
  top: -20px;
}

/*Search page*/
.textCenter {
	text-align: center;
}

h5 {
	display: inline-block;
	vertical-align: super
}

.left-bracket {
  font-size: 50px;
  left: 100px;
  
}

.right-bracket {
  font-size: 50px;
  right: 100px;
}

.param-block {
  margin-top: 40px;
  text-align: center;
}

.param-btn {
  margin: 5px;
}

.submit-param {
  margin-top: 25px;
}

.brackets {
  display: inline-block;
  position: relative;
}

#author {
  left: 80px;
  position: relative;
}

